.modal-content-instructions {
  padding-left:9px;
  font-size: 14px;
}

.checkbox-item {
  width: 100%; 
  margin: 0px;
  display: flex; 
  align-items: center; 
  margin-top: 40px;
}

.checkbox-label {
   display: flex; 
  align-self: stretch; 
  font-size: 12px;
  font-style: italic;
  text-align: left;
  width: 100%!important;
  margin: 0px;
}
