
ion-item {
  --border-style: none;
  --border-width: 0px;
  --padding-start: 0px;
}

.radio-button-label {
  font-size: 13px; 
  margin-left: 6px; 
  margin-right: 0px;
}

.modal-subtitle {
  font-size: 14px; 
  margin-top: 6px; 
  margin-bottom: 0px;
}

.modal-content-info {
  padding-left:9px; 
  font-size: 13px;
}